.container{
    display: flex; /* definir um flex container*/
    max-width: 960px;
    flex-wrap: wrap;
    /*flex-direction: row;*/
    /*text-align: center; /*centralizar elementos passará para os filhos  */
}
.block{
    box-sizing: border-box;
    width: 280px;
    height: 200px;
    font-size: 24px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: gray;
    margin: 20px;
    text-align: center; /* centraliza somente elementos no item */
    /* float:left; /* retirar quando liberar flex*/
}
.block:hover{
    border: 2px solid red;
    /*width: 275px; */ /*retirar o ajuste manual /**/
}
