.divg{
    height: 595px;
    width: 35vw;
    float: left;
    background-color: gray;
    color: white;
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
}
.h01{
    color:white;
    float: inline-start;
}
footer{
    height: 100px;
    width: 99%;
    background-color: gray;
    color: white;
    border: 5px solid gray;
    border-radius: 10px;
    align-items: center;
    float: inline-end;
}
.form1{
    text-align: center;
}
.divl{
    width: 600px;
    float: left;
}
.divl1{
    width: 300px;
    float: left;
}